<div class="container" style="display: flex; justify-content: center;">
  <form id="postform" (submit)="postContent(title.value, content.value)">
    <input #title class="titlearea" id="feedtitle" type="text" placeholder="Title" />
    <textarea #content class="feedarea" id="feedpost" cols="30" rows="10" placeholder="Type what you want here..."></textarea>
    <button class="postButton" type="submit">Post</button>
  </form>
  <div id="feedsposts" class="posts" style="display: flex; flex-direction: column; align-items: center;">
      <div *ngFor="let post of posts" class="feed">
        <h1 class="content">{{post.username}}</h1>
        <h2 class="content">{{ post.title }}</h2>
        <p class="content">{{post.content}}</p>
        <p class="date">{{post.date}}</p>
        <p></p>
        <button *ngIf="currentuser && currentuser.name === post.username" (click)="deletePost(post)"  class="deleteButton">Törlés</button>
        <button *ngIf="currentuser && currentuser.name === post.username" type="button"(click)="post.popup = true" class="editButton">Szerkesztés</button>
        <div class="overlay" *ngIf="post.popup">
          <div class="popup">
            <h2>Szerkesztő</h2>
            <a class="close" (click)="post.popup = false">&times;</a>
            <div class="texter">
              <input #titleEditor id="titleEditor" type="text" value={{post.title}} ><br>
              <textarea #contentText id="contentEditor" cols="30" rows="10" value={{post.content}}></textarea><br>
              <button id="saveChangeButton" (click)="updatePost(post,titleEditor.value, contentText.value)">Save changes</button>
            </div>
          </div>
        </div>
      </div>