.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: #007bff;
    border-radius: 6pt;
  }
  
  .navbar-brand {
    font-size: 1.9em;
    align-content: center;
    color: white;
    font-family: fantasy;
    font-weight: 500;
  }
  
  .navbar-nav {
    display: flex;
  }
  
  .nav-item {
    font-size: 1.1em;
    margin-right: 1.5em;
    align-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: #D3D3D3;
  }
  .nav-item.nav-link {
    cursor: pointer;
  }
    