<nav class="navbar">
  <a class="navbar-brand">Majdnem LinkedIN</a>
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/profile">{{currentUserName}}</a>
    <a class="nav-item nav-link" *ngIf="isLoggedIn" routerLink="/jobpage">Jobs</a>
    <a class="nav-item nav-link" routerLink="/homepage">Home</a>
    <a class="nav-item nav-link" *ngIf="isLoggedIn" routerLink="/mainpage">Main</a>
    <a class="nav-item nav-link" *ngIf="!isLoggedIn" routerLink="/login">Login</a>
    <a class="nav-item nav-link" *ngIf="!isLoggedIn" routerLink="/register">Register</a>
    <a class="nav-item nav-link" *ngIf="isLoggedIn" (click)="logout()">Logout</a>

  </div>
</nav>
<router-outlet></router-outlet>
