<div class="profile-card" *ngIf="currentUserAccountType == true">
    <h2>{{user.name}}'s profile:</h2>
    <form (submit)="updateUserData()">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name" [(ngModel)]="user.name"><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password" [(ngModel)]="user.password"><br>
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email" [(ngModel)]="user.email"><br>
      <label for="job">Job:</label><br>
      <input type="text" id="job" name="job" [(ngModel)]="user.job"><br>
      <label for="phone">Phone:</label><br>
      <input type="tel" id="phone" name="phone" [(ngModel)]="user.phone"><br>
      <input type="submit" value="Update">
    </form>
  </div>
  
  <div class="profile-card" *ngIf="currentUserAccountType == false">
    <h2>{{employer.name}}'s profile:</h2>
    <form (submit)="updateEmployerData()">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name" [(ngModel)]="employer.name"><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password" [(ngModel)]="employer.password"><br>
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email" [(ngModel)]="employer.email"><br>
      <label for="job">Job:</label><br>
      <input type="text" id="job" name="job" [(ngModel)]="employer.job"><br>
      <label for="phone">Phone:</label><br>
      <input type="tel" id="phone" name="phone" [(ngModel)]="employer.phone"><br>
      <input type="submit" value="Update">
    </form>
  </div>
  