<div class="container">
  <h1>Welcome to LinkedOUT!</h1>
  <p class="topText">LinkedOUT is an innovative platform where professionals from various sectors can connect, share their professional knowledge, and grow. Similar to LinkedIn, our goal is to connect professionals, promote professional growth, and career opportunities.</p>
  
  <div class="content">
    <img src="assets/pic1.jpg" alt="Placeholder Image">
    <div class="box">
      <p class="boxText">The LinkedOUT employer page offers numerous advantages. It provides an opportunity to scout talented professionals, build your brand, and increase the efficiency of workforce recruitment. This platform allows employers to directly connect with potential candidates and present their company in the best light. With LinkedOUT, employers can send personalized messages to candidates and directly share their corporate culture and values with them.</p>
    </div>
  </div>

  <div class="content reverse">
    <img src="assets/pic3.jpg" alt="Placeholder Image">
    <div class="box">
      <p class="boxText">The LinkedOUT employee page offers numerous opportunities for career building. It provides an opportunity for networking, discovering new job opportunities, and expanding professional knowledge. The tools available on the platform, such as profile optimization, personalized job search, and learning opportunities, help users stand out from the crowd and showcase their skills to potential employers.</p>
    </div>
  </div>

  <div class="content">
    <img src="assets/pic2.jpg" alt="Placeholder Image">
    <div class="box">
      <p class="boxText">LinkedOUT is more than just a professional network. It's a community where professionals can learn, grow, and get inspired. Here they can meet like-minded people, share their ideas and experiences, and together build a stronger and more efficient workforce. On LinkedOUT, professionals can share their professional experiences, give and receive advice, and participate in professional discussions that help them in professional development.</p>
    </div>
  </div>
</div>
