<div class="container">
  <h1>Üdvözöljük a LinkedOUT-on!</h1>
  <p class="topText">A LinkedOUT egy innovatív platform, ahol a különböző szektorok szakemberei kapcsolódhatnak, megoszthatják szakmai ismereteiket és növekedhetnek. A LinkedInhez hasonlóan célunk, hogy összekössük a szakembereket, elősegítsük a szakmai növekedést és a karrierlehetőségeket.</p>
  
  <div class="content">
    <img src="assets/pic1.jpg" alt="Placeholder Image">
    <div class="box">
      <p class="boxText">A LinkedOUT munkáltatói oldala számos előnnyel rendelkezik. Lehetőséget biztosít a tehetséges szakemberek felkutatására, a márka építésére és a munkaerő toborzásának hatékonyságának növelésére. Ez a platform lehetővé teszi a munkáltatók számára, hogy közvetlenül kapcsolatba lépjenek a potenciális jelöltekkel, és bemutassák vállalatukat a legjobb fényben. A LinkedOUT segítségével a munkáltatók személyre szabott üzeneteket küldhetnek a jelölteknek, és közvetlenül megoszthatják velük a vállalati kultúrájukat és értékeiket.</p>
    </div>
  </div>

  <div class="content reverse">
    <img src="assets/pic3.jpg" alt="Placeholder Image">
    <div class="box">
      <p class="boxText">A LinkedOUT munkavállalói oldala számos lehetőséget kínál a karrierépítéshez. Lehetőséget biztosít a hálózatépítésre, új munkalehetőségek felfedezésére és szakmai ismeretek bővítésére. A platformon található eszközök, mint például a profiloptimalizálás, a személyre szabott munkakeresés és a tanulási lehetőségek, segítenek a felhasználóknak abban, hogy kiemelkedjenek a tömegből, és bemutassák képességeiket a potenciális munkáltatóknak.</p>
    </div>
  </div>

  <div class="content">
    <img src="assets/pic2.jpg" alt="Placeholder Image">
    <div class="box">
      <p class="boxText">A LinkedOUT több mint csak egy szakmai hálózat. Ez egy közösség, ahol a szakemberek tanulhatnak, növekedhetnek és inspirálódhatnak. Itt találkozhatnak hasonló gondolkodású emberekkel, megoszthatják ötleteiket és tapasztalataikat, és együtt építhetnek egy erősebb és hatékonyabb munkaerőt. A LinkedOUT-on a szakemberek megoszthatják szakmai tapasztalataikat, tanácsokat adhatnak és kaphatnak, és részt vehetnek szakmai beszélgetésekben, amelyek segítenek nekik a szakmai fejlődésben.</p>
    </div>
  </div>
</div>
