<div class="container">
    <h1>Üdvözöljük a LinkedOUT-on!</h1>
    <p class="topText">Ez egy platform, ahol minden szektor szakemberei kapcsolódhatnak, megoszthatják ismereteiket és növekedhetnek. Pont mint a LinkedIn, a célunk, hogy közelebb hozzuk a szakembereket és elősegítsük a növekedést és a lehetőségeket.</p>
    
    <div class="content">
      <img src="assets/pic1.jpg" alt="Placeholder Image">
      <div class="box">
        <p class="boxText">A LinkedOUT munkáltatói oldala számos előnnyel rendelkezik. Lehetőséget biztosít a tehetséges szakemberek felkutatására, a márka építésére és a munkaerő toborzásának hatékonyságának növelésére. Ez a platform lehetővé teszi a munkáltatók számára, hogy közvetlenül kapcsolatba lépjenek a potenciális jelöltekkel, és bemutassák vállalatukat a legjobb fényben.</p>
      </div>
    </div>

    <div class="content reverse">
      <img src="assets/pic3.jpg" alt="Placeholder Image">
      <div class="box">
        <p class="boxText">A LinkedOUT munkavállalói oldala számos lehetőséget kínál a karrierépítéshez. Lehetőséget biztosít a hálózatépítésre, új munkalehetőségek felfedezésére és szakmai ismeretek bővítésére. A platformon található eszközök segítenek a felhasználóknak abban, hogy kiemelkedjenek a tömegből, és bemutassák képességeiket a potenciális munkáltatóknak.</p>
      </div>
    </div>

    <div class="content">
      <img src="assets/pic2.jpg" alt="Placeholder Image">
      <div class="box">
        <p class="boxText">A LinkedOUT több mint csak egy szakmai hálózat. Ez egy közösség, ahol a szakemberek tanulhatnak, növekedhetnek és inspirálódhatnak. Itt találkozhatnak hasonló gondolkodású emberekkel, megoszthatják ötleteiket és tapasztalataikat, és együtt építhetnek egy erősebb és hatékonyabb munkaerőt.</p>
      </div>
    </div>
</div>
