@keyframes gradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.register {
  width: 45%; /* Increase width */
  margin: 0 auto;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  margin-top: 5%;
}

.register h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: white; /* Change text color to white for better contrast */
  font-size: 2em; /* Increase font size */
}

.register form {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.register form input {
  margin-bottom: 10px;
  padding: 15px; /* Increase padding */
  border-radius: 4px;
  border: 1px solid #ccc;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.2em; /* Increase font size */
}

.register form button {
  padding: 15px; /* Increase padding */
  border-radius: 4px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.2em; /* Increase font size */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.register form button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
